<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Blueprint-Application</title>
  </head>
  <body>
    <h2>Blueprint-Application for testing the Blueprint-Service</h2>
    <ul>
      <li style="padding-bottom: 15px;"><a href="/info">Environment variables of this application</a></li>
      <li>Tests
        <ul>
          <li style="padding-bottom: 15px;"><a href="/test"><b>Execute all tests</b></a></li>
          <li style="padding-bottom:  0px;"><a href="/test/info"><b>Execute tests for resource /info</b></a></li>
          <li style="padding-bottom:  0px;"><a href="/test/files"><b>Execute tests for resource /files</b></a></li>
        </ul>
      </li>
    </ul>
  </body>
</html>
